<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Add new participant</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>

<div class="modal-body">
  <%= bootstrap_form_for(@new_participant) do |f| %>

    <%= render partial: "participants/form", locals: { f: f } %>

  <% end %>
</div>
