<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Edit participant</h1>

      <%= bootstrap_form_for(@participant) do |f| %>
        
        <%# if @participant.errors.any? %>
          <%# @participant.errors.full_messages.each do |msg| %>
<!--            <li><%#= msg %></li>-->
          <%# end %>
        <%# end %>

        <%= participant_error(@participant) %>

        <%= render partial: "participants/form", locals: { f: f } %>
  
      <% end %>
    </div>
  </div>
</div>
